.bioPic {
    height: 15vmin;
    width: 15vmin;
    min-width: 10px;
    min-height: 10px;
    border-radius: 50%;
}

.bioSidebar {
    background-color: #1c5230;
    min-height: 30vmin;
    min-width: 20vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.bioLink {
    color: #61dafb;
}

.bioTimeline {
    text-align: center;
    vertical-align: middle;
    width: 85vmin;
    border: blue 1px solid;
}

.eventCont {
    border: black 2px solid;
    border-radius: 50%;
}